body {
    min-height: 100vh;
    background: $bg-body;
    font-family: $font-stack;
    display: grid;
    place-items: center;
}

.advice_container {
    width: 33.75rem;
    padding: 3.125rem 2.5rem 4.6875rem 2.5rem;
    background: $bg-advice;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

.advice_id {
    color: $color-advice-id;
    font-size: .8125rem;
    letter-spacing: .25rem;
}

.quote {
    margin: 1.25rem 0 0;
    color: $color-quote;
    font-size: 1.75rem;
}

.divider {
    margin: 2.5rem 0 0;
    background: url('../img/pattern-divider-desktop.svg') no-repeat;
    background-position: center;
    height: 1rem;
}

.new_quote_btn {
    border: none;
    width: 4.0625rem;
    height: 4.0625rem;
    background: url('../img/icon-dice.svg') no-repeat, $bg-btn;
    background-position: center;
    color: transparent;
    border-radius: 50%;
    position: absolute;
    bottom: -1.875rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: box-shadow .5s, background-color .5s, box-shadow .5s;
    &.frozen {
        background-color: $bg-btn-frozen;
        &:hover {
            box-shadow: none;
            cursor: default;
        }
    }
    &:hover {
        box-shadow: 0 0 2.1875rem $bg-btn;
    }
}