@media(max-width: 560px) {
    .advice_container {
        width: 21.875rem;
        padding: 3.125rem .9375rem 4.6875rem .9375rem;
    }

    .divider {
        margin: 1.375rem 0 0;
        background: url('../img/pattern-divider-mobile.svg') no-repeat;
        background-position: center;
    }
}